[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
    --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --authentication-kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --authorization-kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --bind-address=127.0.0.1 \
    --leader-elect=true

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target