[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network-online.target containerd.service
Wants=network-online.target
Requires=containerd.service
[Service]
ExecStart=/usr/local/bin/kubelet \
    --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.kubeconfig \
    --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
    --config=/etc/kubernetes/kubelet-conf.yaml \
    --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
    --node-labels=node.kubernetes.io/node=k8s-node1 \
    --resolv-conf=/run/systemd/resolve/resolv.conf \
    --tls-cert-file=/etc/kubernetes/pki/kubelet/kubelet.pem \
    --tls-private-key-file=/etc/kubernetes/pki/kubelet/kubelet-key.pem
[Install]
WantedBy=multi-user.target